body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #202022;        /* color of the tracking area */
}

.body::-webkit-scrollbar-thumb {
  background-color: #4886EE;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
}
.loader::before,
.loader::after {    
  content:"";
  grid-area: 1/1;
  --c:no-repeat radial-gradient(farthest-side,#4886EE 92%,#0000);
  background: 
    var(--c) 50%  0, 
    var(--c) 50%  100%, 
    var(--c) 100% 50%, 
    var(--c) 0    50%;
  background-size: 12px 12px;
  animation: l12 1s infinite;
}
.loader::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear
}

@keyframes l12 { 
  100%{transform: rotate(.5turn)}
}

/* Scrollbar styles for WebKit-based browsers */
.custum-scrollbar::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}

.custum-scrollbar::-webkit-scrollbar-track {
  background: #202022;        /* color of the tracking area */
}

.custum-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4886EE;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}
